<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./styles/style.css" type="text/css" />>
    <title>Log IN</title>
</head>

<body>
    <nav class=" space-x-12 fixed py-3 bg-black w-full z-10 text-white ">
        <button class="ml-8"><a href="INDEX.ejs"> HOME</a></button>

        <button><a href="availability.ejs"> AVALIBILITY </a></button>
        <button> <a href="userlogin.ejs">LOG IN </a></button>
    </nav>
    <img src="images/bb.png" alt="" class="blur-2xl  mt-20 h-[45rem] w-full fixed">
    <img src="images/bb.png" class="fixed mt-[15rem] ml-[45rem]" alt="">
    <form action="">
        <div class="bg-black h-[64rem] ">
            <fieldset
                class=" border-2 absolute mt-40 px-5 font-bold font-mono py-5 rounded-tr-2xl ml-24 h-[20rem] w-[20rem]">

                <legend class="bg-slate-200 rounded-tr-md ml-4 px-5 text-black">User Details:</legend>
                <label for="fname">Name:</label>
                <p class="inline">
                    <%= user.username %>
                </p> <br><br>

                <label for="email">Email:</label>
                <p class="inline"><%= user.email %></p><br><br>
                <label for="email">Mobile No:</label>
                <p class="inline"><%= user.mobile %></p><br><br>
                <label for="email">State:</label>
                <p class="inline"><%= user.state %></p><br><br>
                <label for="email">Address:</label>
                <p class="inline"><%= user.address %></p>
            </fieldset>



            <div
                class="h-[22rem] ml-24 py-6 px-5 border-2 font-semibold  w-[20rem] mt-[40rem] rounded-br-3xl shadow-2xl absolute">

                <label for="bldgrp">
                    Your Blood Group
                </label>
                <select name="blood_group" class="w-16 ml-3 rounded-md" id="bldgrp">
                    <option value="">select</option>
                    <option value="Ap">A+</option>
                    <option value="An">A-</option>
                    <option value="Bp">B+</option>
                    <option value="Bn">B-</option>
                    <option value="Op">O+</option>
                    <option value="On">O-</option>
                    <option value="ABp">AB+</option>
                    <option value="ABn">AB-</option>
                </select><br><br>

                <label for="amnt">amount of bottle :</label>
                <input name = "quantity" type="number" class="w-9 rounded-sm ml-3" id="amnt"><br><br>

                <label for="amnt">Today's Date :</label>
                <input name = "date" type="date" class="ml-3 inline rounded-md" id="date"><br><br>

                <label for="bldbnk">
                    Avalible Blood Bank:
                </label> 
                <select name="username" class="w-16 ml-3 rounded-md" id="bldbnk">
                    <% banklist.forEach(function(bank) { %>
                    <option value=""> <%= bank.name %> </option>
                    <% }) %>
                </select><br><br>
            </div>
            <button
                class="border-4 rounded-full text-black shadow-2xl font-bold font-mono border-slate-500 border-r-slate-300 mt-[54rem] absolute h-[6rem] w-[6rem] ml-32">Donate
            </button>
            <button
                class="border-4 rounded-full text-black shadow-2xl font-bold font-mono border-slate-400 border-r-slate-100 mt-[54rem] absolute h-[6rem] w-[6rem] ml-72">Recive
            </button>
        </div>
    </form>
</body>

</html>